<div class="container table_container mt-5 mb-5 p-2">
    
    <h2 class="text-center p-3 text-white bg-dark">Seat</h2>


    <!-- Table to display data -->
    <table class="table  table-striped">
        <thead>
            <tr>
                <th>Seat ID</th>
                <th>Seat Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *NgFor="let seat of seats">
                <td>{{ seat.seatId }}</td>
                <td>{{ seat.seatNo }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm m-2" (click)="updateSeat(seat.seatId)">Update</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteSeat(seat.seatId)">Delete</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
