
<table class="table  table-striped" >
 <tr>
  <th>Id</th>
  <th>Name</th>
  <th>Phone Number</th>
 </tr>
 <tbody>
 <tr *ngFor = "let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm m-2" (click)="updateCustomer(customer.customerId)">Update</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteCustomer(customer.customerId)">Delete</button>
        </td>
</tr>
</tbody>
</table>